<!-- cart code  -->
<section class="cart py-16">
    <% if(session.cart) { %>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="cart-black">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1> 
        </div>

        <div class="pizza-list">
            <% for(let pizza of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8"> 
                <img class="w-24" src="/img/<%= pizza.item.image %>" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1><%= pizza.item.name %></h1>
                    <span><%= pizza.item.size %></span>
                </div>
                <span class="flex-1"><%= pizza.qty %> Pcs </span>
                <span class="font-bold">₹ <%= pizza.item.price %></span>
            </div> 
            <%  } %>  
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount</span>
                <span class="amount text-2xl font-bold  ml-2">₹ <%= session.cart.totalPrice %></span>
            </div>

            <div>
                <form action="" class="mt-12">
                    <input name="phone" class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone number">      
                    <input name="address" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">    
                    <div class="mt-4">
                        <div id="card-element"></div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order Now</button>
                    </div>            
                </form>
            </div>
            <a href="" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>
        </div>
    </div>
    <% } else {%>
    <!-- Empty card code -->
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
            <p class="text-gray-500 text-lg mb-12">
                You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.
            </p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12 mb-12">Go back</a>
        </div>
    </div>

    <% } %>

</section>
